@media(max-width:992px) {
   /*=== Navbar header-top ===*/
   .header-top {
      display: none;
   }

   /*=== navbar ===*/
   .nav-item a {
      line-height: 2.5rem;
   }
}

@media(max-width:876px) {
   /* banner section */
   .top-banner {
      padding-top: 2.981rem;

   }

   /*delivery section */
   .delivery-section {
      background-image: none;
   }
}

@media(max-width:576px) {
   /* navbar */
   ul.navbar-nav li button{
      display: none;
   }

   /* banner section */
   .top-banner h1{
      font-size: 1.5rem;
   }
   .top-banner h5{
      font-size: 1rem;
   }
   
   /* app download section */
   .app-section .app-img img {
      width: 8rem;
   }
}